.recent-searches-table-container,
.monthly-history-table-container {
  table th {
    text-transform: capitalize;
  }
  .header-tr {
    padding: 0 !important;

    th:first-child{
      padding-left: 1em;
    }
  }

  .th-origin,
  .th-destination {
    flex: 1 0 4em !important;
  }

  .th-via {
    flex-basis: 4em !important;
  }
  .th-duration,
  .th-walk {
    flex-basis: 4em !important;
  }

  .th-empty-actions {
    flex-basis: 1em !important;
  }

}

.recent-search-row,
.monthly-history-row {
  td:first-child {
    padding-left: 1em;
  }
  .td-distance {
    padding-left: 0 !important;
  }
  .td-route-number {
    flex-basis: 4em !important;
    white-space: nowrap;
    overflow-x: hidden;
  
    // When there is more than one mode
    .route-number:not(:only-child) {
      min-width: 0px;
      .vehicle-number {
        max-width: 0px;
        padding: 0px;
      }
    }
    .route-number + .route-number {
      margin-left: 5px;
    }
  }
  .td-actions {
    flex-basis: 1em !important;
  }

  .row-button--action {
    width: 1rem;
    height: 1rem;
    margin-top: 2px;

    .icon {
      width: .5em;
      height: .5em;
    }
  }
}

.recent-searches__pagination {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  width: 100%;
  @media #{$large-up} {
    padding: 2rem;
  }
}

.row-button,
button.row-button,
.pagination-button,
button.pagination-button {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background: $background-color;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $primary-color;

  &:hover {
    background: $background-color-darker;
  }

  .icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}


.monthly-history-table-container {
  .header-tr {
    padding: 0 !important;

    th {
      flex: 1 0 4em;
      white-space: normal !important;
      word-break: break-word;
    }
  }
}

.monthly-history-row {
  font-family: $font-family-narrow;
  
  td {
    line-height: 1.6em;
    p {
      position: relative;
      margin: 0;
      sub {
        position: absolute;
        top: 0.4em;
      }
      small {
        font-size: 80%;
        line-height: 1.2em;
        display: inline-block;
      }
    }
  }
  &:last-child td {
    border-bottom: none;
  }
}